/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* article h1{
    padding-top: 5%;
} */

#team-head h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 5%;
}

#SIWB {
    width: 100%;
    height: auto;
}

.horizontal {
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    text-align: center;
}

.team-pic {
    width: 30%;
    height: auto;
    border-radius: 5px;
    position: relative;
    margin: 2% 1%;
}

.team-pic h2 {
    color: #ffffff;
}

.team {
    width: 80%;
    height: auto;
}


.building {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 0;
}

.room {
    z-index: 1;
    filter: brightness(90%);
    filter: opacity(10%);
}

#n114 {
    width: 10%;
    height: auto;
    margin-left: 53.5%;
    margin-top: -39%;
}

#n109 {
    width: 12%;
    height: auto;
    margin-left: 41.5%; 
    margin-top: -36.5%;
}

#n108 {
    width: 6.5%;
    height: auto;
    margin-left: -18.2%;
    margin-top: -33.7%;
}

#n107 {
    width: 6.6%;
    height: auto;
    margin-left: -13.2%;
    margin-top: -33%;
}

#n106 {
    width: 7.3%;
    height: auto;
    margin-left: -13.6%;
    margin-top: -34.9%;

}

#n105 {
    width: 7.5%;
    height: auto;
    margin-left: -13.3%;
    margin-top: -40%;
}

.room:hover {
    filter: brightness(20%);
    filter: opacity(60%);
    transition: 0.5s;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color: #b48cbc;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #712177;
}

.footer-container,
.main aside {
    border-top: 20px solid #712177;
}

.header-container,
.footer-container,
.main aside {
    background: #86428b;
}

.title {
    color: white;
}

/* 
==============
MOBILE: Menu
============== 
*/

#logo {
    width: 4%;
    height: auto;
    float: left;
    margin-left: 3%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #712177;
}

body a:hover,
body a:visited {
    color: white;
}

body a:hover {
    background: #86428b;
    transition: 0.5s;
}

#mock-up {
    width: 100%;
    height: auto;
}

.search {
    width: 90%;
    height: 600px;
    margin-left: 5%;
}

.search-results {
    width: 100%;
    height: 500px;
}

.table {
    width: 200px;
    height: 300px;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 5%;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}